body {
    margin: auto;
    width: 90%;
    max-width: 50em;
    text-align: left;
    line-height: 1.5em;
    font-family: Merienda, sans-serif;
    background-color: lightyellow;
}

nav {
    background-color: lavender;
}

li {
    list-style: none;
    display: inline;
    color: black;
}

li a {
    padding: 20px;
    color: black;
}

img{
    float: left;
    max-width: 55%;
    padding: 10px 15px 5px 0px;
}

small {
    font-weight: bold;
}